.container {
  padding: 5% 8%;
}

.title {
  font-size: 50px;
  font-weight: 600;
  color: #282f3b;
  font-family: "League Spartan", sans-serif;
  letter-spacing: 0.5px;
}

.desc {
  color: #4a4e56;
  line-height: 27px;
  font-size: 17px;
  margin-top: 20px;
}